@import "../style/variables";

.handler {
  cursor: grab;
}
/* Class name for the chosen item */
.sortable-chosen {


  .handler {
    cursor: -webkit-grabbing;
  }
}

/* Class name for the drop placeholder */
.sortable-ghost {
  border: $dragndrop-cool-border;
  ////height: 0px !important;
  //border: 2px solid currentColor;
  //box-sizing: border-box;
  //padding: 0 !important;
  //background: $color-2;
  //
  //color: $color-1;
  //
  //*:not(::before,::after) {
  //  display: none;
  //}
  //
  //&:before, &:after {
  //  content: '';
  //  display: block;
  //  width: 10px;height: 10px;
  //  background: currentColor;
  //  position: absolute;
  //  top:50%;
  //  transform: translateY(-50%);
  //  border-radius: 50%;
  //}
  //&:before{
  //  left:100%
  //}
  //&:after{
  //  right: 100%;
  //}

  .handler {
    display: none !important;
  }
}


/* Class name for the dragging item */
.sortable-drag {
  border: $dragndrop-natual-border;
  border-left: 2px solid $dragndrop-cool-color;
  box-shadow: 0 3px 4px rgba(116, 116, 0, .3);
  background: $bg-natual-color;
  cursor: -webkit-grabbing;
  .handler {
    cursor: -webkit-grabbing;
  }


}

.sortable-fallback {

}

