@media print {
#app{
  display: block;
}
  button,
  .panel-start,
  .panel-end,
  .handler{
    display: none !important;
  }

  .page{
    box-shadow: none;
    width: auto;
    height: auto;
  }

  .panel.main-area{
    border: none;
  }


}
