/* Class name for the drop placeholder */
.sortable-ghost {
  background: gray;
}

/* Class name for the chosen item */
.sortable-chosen {
  background: #cccccc;

  .handler {
    cursor: -webkit-grabbing;
  }
}

/* Class name for the dragging item */
.sortable-drag {
  outline: 1px solid gray;
  border: 1px solid gray;
  background: red;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 4px;
    background: cadetblue;
  }


}
.sortable-fallback{

}

