$bg-natual-color:white;
$border:1px solid #e0e0e0;

$dragndrop-cool-color: #8939AD;
$dragndrop-natual-color: #BBB;
$dragndrop-cool-border: 2px solid $dragndrop-cool-color;
$dragndrop-natual-border: 1px solid $dragndrop-natual-color;

